// Specific CSS for your home-page
.nav {
  background-color: #3F610A;
  position: sticky;
  width: 1440px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 170%;
}

.liens {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "Comfortaa", sans-serif;
}
.liens a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


// HERO BANNER

.main-img-container {
  content: "";
  background-color: red;
  height: calc(100vh - 70px);
  overflow: hidden;
  position: relative;
}

.main-img-back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: auto;

}

.main-img-front {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: auto;

}

.main-img-logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
  height: auto;
  opacity: .1;

}

.bandeau{
  background-color: #3F610A;
  width: 100%;
  height: 70px;
}

h1 {
  font-family: "Lobster", sans-serif;
  color: black;
  text-decoration: underline;
  padding: 35px 45px;

}

.textes {
  font-family: "Comfortaa", sans-serif;
  font-size: 25px;
  padding: 35px 45px;

}
.boutons {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}
.articles {
  background-color: #3F610A;
  font-family: "Comfortaa", sans-serif;
  color: #fff;
  width: 15%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid white;
  border-radius: 12px;
  box-shadow: 0 0 0 0.5px black;

}
// blockblanc

.blockblanc {
  content: "";
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}
