<div class="nav">

  <%= image_tag "LOGO.png", alt: "Logo Pakalolo Lab", class: "logo" %>

  <div class="liens">
    <a href="#">Accueil</a>
    <a href="#">Index</a>
    <a href="#">Articles</a>
    <a href="#">A propos</a>
    <a href="#">Contact</a>
  </div>

</div>

<div class="main-img-container">
  <%= image_tag "main_img_back.png", alt: "Logo Pakalolo Lab hero banner", class: "main-img-back" %>
  <%= image_tag "main_img_front.png", alt: "Logo Pakalolo Lab hero banner", class: "main-img-front" %>
  <%= image_tag "LOGO.png", alt: "Logo Pakalolo Lab", class: "main-img-logo" %>
</div>

<div class="blockblanc"></div>
