<div class="nav">

  <%= image_tag "LOGO.png", alt: "Logo Pakalolo Lab", class: "logo" %>

  <div class="liens">
    <a href="#">Accueil</a>
    <a href="#">Index</a>
    <a href="#">Articles</a>
    <a href="#">A propos</a>
    <a href="#">Contact</a>
  </div>

</div>

<div class="main-img-container">
  <%= image_tag "main_img_back.png", alt: "Logo Pakalolo Lab hero banner", class: "main-img-back" %>
  <%= image_tag "main_img_front.png", alt: "Logo Pakalolo Lab hero banner", class: "main-img-front" %>
  <%= image_tag "LOGO.png", alt: "Logo Pakalolo Lab", class: "main-img-logo" %>
</div>

<div class="bandeau">
</div>

<div class= "titres">
  <h1>Pakalolo Lab — De la plante à la science</h1>
</div>

<div class="textes">
  <p>Pakalolo Lab est un site dédié à l’exploration complète de l’univers du cannabis, sous toutes ses formes et à travers tous ses aspects.
De la biologie de la plante à la culture, des composés actifs aux recherches scientifiques, Pakalolo a pour vocation de centraliser un savoir fiable, structuré et accessible.

Notre approche se veut rigoureuse, pédagogique et documentée, en s’appuyant sur des données scientifiques, des tests expérimentaux, et une analyse approfondie des mécanismes naturels qui régissent cette plante unique.
  </p>
</div>

<div class="blockblanc"></div>
